services:
  - type: web
    name: my-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node src/server.js
    envVars:
      - key: PORT
        value: 3000
      - key: DB_CONNECTION
        value: dumy
      - key: JWT_SECRET
        value: dummy


